.Header_Container {
  height: 12vh;
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .Left {
    height: 100%;
    display: flex;
    align-items: center;
    img {
      height: 100%;
    }
  }
  h1 {
    color: #404040;
    // margin-left: 1.5rem;
    font-weight: 600;
  }
  .Logout {
    height: 100%;
    display: flex;
    align-items: center;
    img {
      height: 100%;
    }
    button {
      margin-left: 1rem;
      padding: 0.5rem 1rem;
      border: none;
      outline: none;
      border-radius: 0.25rem;
      background-color: #404040;
      color: white;
      cursor: pointer;
    }
  }
}
